<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-blue pr-20"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="px-20 parent">
    <div>
      <p class="dull-blue">Lifestyle</p>
    </div>
    <div>
      <p class="big-text my-15 text-blue">How to focus on Reading: 5 ways to Retain your Brain</p>
    </div>
    <div>
      <p class="dull-blue">May, 16 2021 by <span class="text-blue">Arman Cadon</span></p>
    </div>
    <div>
      <img src="../../assets/img/rectangle.png" alt="">
    </div>
    <div>
      <p style="line-height: 1.5;" class="text-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar luctus purus, quis porta lorem dignissim at. Pellentesque sit amet est non lacus suscipit tincidunt. Quisque in sem ut dolor condimentum ullamcorper non a diam. Ut faucibus ex sed bibendum lacinia. Etiam nulla velit, finibus a aliquet nec, euismod rhoncus nunc. Cras aliquam tincidunt sem sit amet dignissim. Integer elementum justo ut lectus sollicitudin fringilla. Curabitur justo quam, eleifend non ipsum in, rhoncus euismod lacus. Phasellus ullamcorper nisi et consectetur malesuada. Phasellus imperdiet augue vel leo consequat, quis ullamcorper ligula dapibus. Nulla imperdiet quam vitae enim imperdiet porttitor. </p>
    </div>
  </div>
</ion-content>